<div>
    <div class="field grid">
        <label class="col-fixed" style="width:100px" for="login">Логин</label>
        <input
            type="text" 
            pInputText 
            id="login"
        />
    </div>

    <div class="field grid">
        <label class="col-fixed" style="width:100px" for="login">Пароль</label>
        <input
            type="password" 
            pInputText 
            id="password"
        />
    </div>

    <div class="mt-3 flex align-items-center justify-content-between">
        <p-button 
        label="Войти"
        />
    </div>
</div>